<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>For Input Filelds</title>
</head>
<body>
    <form action="/add" method="POST">
        <div> 
            <label> Num1 </label>
            <input type="text" name="num1" value="">
            <label> Num2 </label>
            <input type="text" name="num2" value="">
            <button> ADDITION </button>
        </div>
    </form>
    <br>
    <br>
    

    <form action="/sub" method="POST">
        <div>
            <label> Num1 </label>
            <input type="text" name="num1" value="">
            <label> Num2 </label>
            <input type="text" name="num2" value="">
            <button> SUBTRACTION </button>
        </div>
    </form>
    <br>
    <br>
    

    <form action="/multiply" method="POST">
        <div>
            <label> Num1 </label>
            <input type="text" name="num1" value="">
            <label> Num2 </label>
            <input type="text" name="num2" value="">
            <button> MULTIPLICATION </button>
        </div>
    </form>
    <br>
    <br>
    

    <form action="/divide" method="POST">
        <div>
            <label> Num1 </label>
            <input type="text" name="num1" value="">
            <label> Num2 </label>
            <input type="text" name="num2" value="">
            <button> DIVISION </button>
        </div>
    </form>
    
    
</body>
</html>